argo-cd:
  configs:
    cm:
      users.anonymous.enabled: true
      statusbadge.enabled: true
      url: https://argocd.aidenharwood.uk
      policy.default: role:readonly
      configs:
        rbac:
          policy.default: role:readonly
    params:
      server.insecure: true
  controller:
    metrics:
      enabled: true