apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: local-path-provisioner
spec:
  project: default
  source:
    repoURL: https://github.com/rancher/local-path-provisioner
    targetRevision: v0.0.32
    path: deploy
    kustomize:
      patches:
        - target:
            kind: StorageClass
            name: local-path
          patch: |-
            - op: add
              path: /metadata/annotations/storageclass.kubernetes.io~1is-default-class
              value: "true"
  destination:
    name: in-cluster
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
