apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium
spec:
  project: default
  source:
    repoURL: https://helm.cilium.io/
    targetRevision: 1.18.1
    chart: cilium
    helm:
      values: |
        hubble:
          relay:
            enabled: true
          ui:
            enabled: true
        operator:
          replicas: 1
        extraArgs:
          - --bpf-filter-priority=2
  destination:
    name: in-cluster
    namespace: cilium
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true