apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium
spec:
  project: default
  source:
    repoURL: https://helm.cilium.io/
    targetRevision: 1.18.1
    chart: cilium
    helm:
      values: |
        hubble:
          relay:
            enabled: true
          ui:
            enabled: true
          metrics:
            enabled:
              - dns
              - drop
              - tcp
              - flow
              - port-distribution
              - icmp
              - source_namespace
              - destination_namespace
              - destination_workload
              - traffic_direction

        operator:
          replicas: 1
        extraConfig:
          bpf-filter-priority: "2" # Allow Beyla to take priority
  destination:
    name: in-cluster
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true